<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="projectName">shard-boot</Property>
    </Properties>
    <Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout	pattern="%d{yyyy-MM-dd HH:mm:ss}[%thread][%class][%line] ==> %msg%n" />
		</Console>
		<RollingFile name="RollingFile" filename="../logs/shard-boot.log"
					 filepattern="../logs/${projectName}_%d{yyyyMMdd}.log">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="3" />
		</RollingFile>
	</Appenders>
    <Loggers>
        <Root level="INFO" additivity="true">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Root>
        <logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </logger>
        <logger name="org.ehcache" level="INFO" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </logger>
        <logger name="freemarker" level="INFO" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </logger>
        <logger name="io.lettuce" level="INFO" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </logger>
    </Loggers>
</Configuration>
